.mainLayout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 100vh;
  grid-template-areas:
    "header-left header-right"
    "content-left content-left"
    "content-right content-right"
    "footer-left footer-left";
}

.headerLeft {
  grid-area: header-left;
  background-color: var(--color-neutral-bg);
  padding: 16px 0 24px 24px;
  order: 1;
  display: flex;
  justify-content: flex-start;
  align-items: start;
}

.headerRight {
  grid-area: header-right;
  background-color: var(--color-neutral-bg);
  padding: 16px 24px 24px 0;
  order: 2;
  display: flex;
  justify-content: flex-end;
  align-items: end;
}

.contentLeft {
  grid-area: content-left;
  background-color: var(--color-neutral-bg);
  padding: 0 24px 0;
  order: 3;
}

.contentRight {
  grid-area: content-right;
  background-color: var(--color-neutral-bg);
  padding: 24px;
  order: 4;
}

.footerLeft {
  grid-area: footer-left;
  background-color: var(--color-neutral-bg);
  padding: 0 24px 24px;
  order: 5;
}

.footerRight {
  display: none;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Header specific */
.headerLeft .container,
.headerRight .container {
  align-items: center;
}

.headerRight .container {
  justify-content: flex-end;
  align-items: end;
}

.headerLeft .container {
  justify-content: flex-start;
  align-items: start;
}

.logo {
  max-width: 181px;
  height: 31px;
}

@media (min-width: 768px) {
  .mainLayout {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 1fr auto;
    gap: 0;
    grid-template-areas:
      "header-left header-right"
      "content-left content-right"
      "footer-left footer-right";
  }

  .headerLeft {
    background-color: var(--color-white);
    padding: 24px 24px 24px;
    display: flex;
    justify-content: flex-end;
    order: unset;
  }

  .headerRight {
    background-color: var(--color-neutral-bg);
    padding: 24px 24px 24px 0;
    display: flex;
    justify-content: flex-start;
    order: unset;
  }

  .contentLeft {
    background-color: var(--color-white);
    padding: 0 24px 0;
    display: flex;
    justify-content: flex-end;
    order: unset;
  }

  .contentRight {
    background-color: var(--color-neutral-bg);
    padding: 0 24px 0 0;
    display: flex;
    justify-content: flex-start;
    order: unset;
  }

  .footerLeft {
    background-color: var(--color-white);
    padding: 0 24px 48px;
    display: flex;
    justify-content: flex-end;
    order: unset;
  }

  .footerRight {
    grid-area: footer-right;
    background-color: var(--color-neutral-bg);
    padding: 0 24px 48px;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 16px;
    max-width: 644px;
    width: 100%;
    margin: 0;
  }

  .headerLeft .container,
  .headerRight .container {
    grid-template-rows: auto;
  }

  .headerLeft .container > * {
    grid-column: 1 / 7;
  }

  .headerRight .container > * {
    grid-column: 2 / 7;
    justify-self: end;
  }

  .contentLeft .container > * {
    grid-column: 2 / 6;
    margin-top: 40px;
    align-self: start;
  }

  .contentRight .container > * {
    grid-column: 2 / 6;
    margin-top: 40px;
  }

  .footerLeft .container > * {
    grid-column: 2 / 7;
  }

  .logo {
    max-width: 238px;
    height: 42px;
  }
}
